body{
margin:0;
font-family:Arial;
background:#0a1c3a;
color:white;
}

.browser{
display:flex;
flex-direction:column;
height:100vh;
}

.tabs{
display:flex;
background:#08152b;
padding:5px;
}

.tab{
background:#0a1c3a;
color:white;
border:none;
padding:10px;
margin-right:5px;
cursor:pointer;
}

#newTab{
background:#1c3c7a;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

.navbar{
display:flex;
padding:8px;
background:#102a5c;
align-items:center;
}

.navbar button{
margin-right:5px;
background:#1c3c7a;
border:none;
color:white;
padding:6px 10px;
cursor:pointer;
}

#url{
flex:1;
padding:7px;
border:none;
border-radius:4px;
}

iframe{
flex:1;
border:none;
display:none;
}

#home{
text-align:center;
margin-top:120px;
}

#home h1{
font-size:60px;
margin-bottom:20px;
}

#searchHome{
width:400px;
max-width:80%;
padding:12px;
border-radius:30px;
border:none;
font-size:16px;
}

.shortcuts{
margin-top:30px;
}

.shortcuts button{
margin:10px;
padding:12px 20px;
border:none;
border-radius:10px;
background:#1c3c7a;
color:white;
cursor:pointer;
}
